<header class="navbar navbar-light bg-light shadow-sm">
  <nav class="flex-grow-1">
    <ul class="list-inline m-0">
      <li class="list-inline-item" *ngFor="let page of pages">
        <a class="btn"
           [routerLink]="page.path" routerLinkActive #rla="routerLinkActive"
           [ngClass]="{ 'btn-light': !rla.isActive, 'btn-primary': rla.isActive}"
           title="Go to setup page">{{page.title}}</a>
      </li>
    </ul>
  </nav>

  <h1 class="m-0 d-flex">
    <a class="navbar-brand m-0" routerLink="/" title="Go to home page">{{title}}</a>
  </h1>
</header>
