<div class="l-process">

  <app-card class="l-process__storage" title="Storage" cardStyle="red">
    <div class="card-body p-0 pt-2">
      <ul class="l-container-list list-unstyled">
        <li *ngFor="let container of containerPageList">
          <a class="btn-container-list btn btn-block text-left" [routerLink]="['.', container.path]" routerLinkActive="is-active"
             title="Select {{container.title}} storage">{{container.title}}</a>
        </li>
      </ul>
    </div>
  </app-card>

  <div class="l-process__board">
    <router-outlet></router-outlet>
  </div>

  <div class="l-process__info card bg-primary text-white shadow-sm" *ngIf="selectedCell">
    <div class="row no-gutters">
      <div class="col-6 d-flex flex-column justify-content-center align-items-center p-3">
        <div class="lead font-weight-bolder">{{ (selectedCell.row || 0) + 1 }} : {{ (selectedCell.column || 0) + 1 }}</div>
        <div class="text-center" *ngIf="selectedCell.sample">
          <span class="font-weight-bolder text-uppercase">Checked in</span>
          <button class="btn-check-out btn text-white d-flex align-items-center" (click)="handleCheckOut()">
            <app-ico class="mr-1" name="check-out"></app-ico>
            <span>Check out</span>
          </button>
        </div>
      </div>
      <div class="col d-flex d-flex align-items-center p-3">
        <div class="d-flex flex-column" *ngIf="selectedCell.sample; else noSample">
          <span>{{selectedCell.sample.type}}, {{selectedCell.sample.volume}}</span>
          <span>Sample#: {{selectedCell.sample.number}}</span>
        </div>
        <ng-template #noSample><span>Empty</span></ng-template>
      </div>
    </div>
  </div>


  <app-card class="l-process__samples" title="Pending samples" cardStyle="red">
    <div class="card-body p-0">
      <button class="btn-check-in btn btn-block d-flex justify-content-center align-items-center p-3"
              (click)="handleCheckIn()"
              [disabled]="!(selectedSample && selectedCell && !selectedCell.sample )">
        <app-ico class="mr-1" name="check-in"></app-ico>
        <span>Check in</span>
      </button>

      <ul class="l-sample-list list-unstyled">
        <li *ngFor="let sample of freeSamples">
          <button class="btn-sample btn btn-block text-left d-flex align-items-center" [class.is-selected]="selectedSample === sample"
                  (click)="handleSelectSample(sample)">
            <app-ico class="sample-ico" name="sample"></app-ico>
            <span>Sample#: {{sample.number}} {{sample.type}} {{sample.volume}}</span>
          </button>
        </li>
      </ul>
    </div>
  </app-card>
</div>

