@import "src/scss/variables";

::ng-deep.form-group {
  margin-bottom: 1.5rem;

  &.is-invalid {
    .form-control {
      border-color: $red;

      &:focus {
        box-shadow: 0 0 0 2px $red;
      }
    }

    .invalid-feedback {
      line-height: 1rem;
      margin-bottom: -1.25rem;

      .o-ico {
        width: 12px;
        height: 12px;
        fill: $red;
      }
    }
  }
}
