<h3 class="sr-only">{{title}}</h3>
<app-table [columns]="tableColumns" [data]="tableData"></app-table>

<app-modal title="Add Container">
  <div class="modal-body">

    <form id="containerForm" class="l-form" [formGroup]="form" (ngSubmit)="handleFormSubmit()">
      <app-form-field [form]="form.get('name')" feedbackId="nameFeedback">
        <label for="name">Name</label>
        <input class="form-control" id="name" formControlName="name">
      </app-form-field>

      <app-form-field [form]="form.get('rows')" feedbackId="rowsFeedback">
        <label for="rows">Rows</label>
        <input type="number" class="form-control" id="rows" formControlName="rows">
      </app-form-field>

      <app-form-field [form]="form.get('columns')" feedbackId="columnsFeedback">
        <label for="columns">Columns</label>
        <input type="number" class="form-control" id="columns" formControlName="columns">
      </app-form-field>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <button type="submit" form="containerForm" class="btn btn-success">Add</button>
  </div>
</app-modal>

<app-fab (clickEvent)="addContainer()"></app-fab>
