<app-card title="{{title}}">
  <div class="card-body">
    <ng-container *ngIf="container; else noSelected">

      <div class="d-flex justify-content-end">{{ createSampleInfo() }}</div>

      <div class="table-responsive mt-4">
        <table class="table table-borderless">
          <thead>
          <tr>
            <th scope="col" aria-hidden="true"></th>
            <th class="table__header text-center" scope="col" *ngFor="let column of container.getMatrix()[0]; index as i">{{ i + 1 }}</th>
          </tr>
          </thead>
          <tbody>
          <tr class="table__row" *ngFor="let row of container.getMatrix(); index as i">
            <th class="row__header" scope="row">{{i + 1}}</th>
            <td class="table__cell" *ngFor="let cell of row; index as j">
              <button class="item"
                      (click)="handleSelectCell(i, j)"
                      [attr.aria-current]="selectedCell?.row === i && selectedCell?.column === j ? 'page' : undefined"
                      [ngClass]="{
                'is-active': selectedCell?.row === i && selectedCell?.column === j,
                'is-filled': cell
              }">
                <span class="sr-only">{{cell ? 'Filled' : 'Empty'}} cell (row {{i+1}}, column {{j+1}})</span>
                <app-ico *ngIf="cell" name="sample" aria-hidden="true"></app-ico>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

  </div>
</app-card>


<ng-template #noSelected><p class="lead text-center">Please select storage</p></ng-template>

